{% extends 'reviews/base.html' %}
{% block content %}
{% load static %}


<h1>Reviews Dashboard: Credit Karma Credit Cards</h1>
<!-- Filter Controls -->
<div class = 'filters_container'>
    <label>Date:</label>
    <input type="date" id="date">

    <label>Credit Type:</label>
    <select id="credit_type">
        <option value="">All</option>
        <option value="Good">Good</option>
        <option value="Bad">Bad</option>
        <!-- Add more options as needed -->
    </select>

    <label>Sentiment Category:</label>
    <select id="sentiment_category">
        <option value="">All</option>
        <option value="Positive">Positive</option>
        <option value="Negative">Negative</option>
        <!-- Add more options as needed -->
    </select>

    <label>Dominant Topic:</label>
    <select id="dominant_topic">
        <option value="">All</option>
        <option value="fees">Fees</option>
        <option value="customer_service">Customer Service</option>
        <!-- Add more options as needed -->
    </select>

    <button onclick="applyFilters()">Apply Filters</button>
</div>
<div class="chart-container">
    <canvas id="total_reviews_count"></canvas>
    <canvas id="average_rating_timeline"></canvas>
    <canvas id="average_sentiment_timeline"></canvas>
</div> 
<div class="middle-charts-container">
    <div class="chart" id="chart1"><canvas id="topic_sentiment_vbar"></canvas></div>
    <div class="chart" id="chart2"><canvas id="sentiment_topic_scatter"></canvas></div>
    <div class="chart" id="chart3"><canvas id="topic_sentiment_vbar"></canvas></div>
    <div class="chart" id="chart4"><canvas id="topic_sentiment_vbar"></canvas></div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'reviews/dashboard.js' %}"></script>
{% endblock content %}