
.chart-container{
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
    width: 26vw;
    padding-bottom: 1rem;
}

.filters_container input, select{
    background-color: var(--color-background);
    padding: 0.5rem;
    border-radius: 5px;
    width: 10rem;
    cursor: pointer;
    border: 0.2px solid var(--color-dark);
}

.filters_container button{
    background-color: var(--color-primary);
    padding: 0.8rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.filters_container{
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
    align-items: center;
}

.middle-charts-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    height: 90vh;
}

.chart{
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chart1, #chart2, #chart3, #chart4{
    height: 100%;
}